# Ignore everything in these dirs
/music/*
/youtube/*
/binds/*

# But allow the placeholder files so Git will keep the directories
!/music/.gitkeep
!/youtube/.gitkeep
!/binds/.gitkeep

scripts/__pycache__/