# Ignore everything in these dirs
/music/*
/youtube/*
/binds/*
/db/*

/build/*
/dist/*
microphone.spec

# But allow the placeholder files so Git will keep the directories
!/music/.gitkeep
!/youtube/.gitkeep
!/binds/.gitkeep

scripts/__pycache__/
__pycache__/

tts_raw.wav
tts_stereo48k.wav

.env